<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer Example</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="content">
    <br>
    <!-- Your main content goes here -->
    <h1 style="margin-left: 20px;"><strong>Have converstions with

    <br></>
      famous people!
      </strong>
    </h1>
  </div>



</div>
<div>


<div class="circle-container">
  <%= link_to "#", class: "circle-link" do %>
    <%= image_tag "https://assets.vogue.com/photos/5f6d05918c75f02cb3917f28/16:9/w_1920%2Cc_limit/fp111_107a_her_majesty_queen_elizabeth_xl_02618_2008131904_id_1316166.jpg", class: "circle-image" %>
  <% end %>
<div class="circle-container">
  <%= link_to "#", class: "circle-link" do %>
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7a/SpongeBob_SquarePants_character.png", class: "circle-image" %>
  <% end %>
  <div class="circle-container">
  <%= link_to "#", class: "circle-link" do %>
    <%= image_tag "https://jung.org/uploads/jungsociety/customization/1_1CWZJDjUs0mR9nHG3ER9-Q1.jpg", class: "circle-image" %>
  <% end %>
</div>


</div>
<br>

    </p>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
       <i class="fas fa-heart"></i>
    </div>
  </div>
</body>
</html>
