<div class="page-layout">
  <div class="col-4 sidebar container text-center bg-black text-white justify-content-center">
    <h2 class="fw-bold"><%= @persona.name %></h2>
    <%= image_tag url_for(@persona.photo),
    size: "320x320",
    class: "rounded-circle object-fit-cover d-block mx-auto" if @persona.photo.attached? %>
    <p><%= @persona.bio %> </p>
  </div>
  <div class="main-container border bg-light-subtle">
    <h2 class="fw-bold text-center"><%= "Your Chats with #{@persona.name}" %></h2>
    <%= link_to "Start New Chat", persona_chats_path(@persona), data: { turbo_method: :post }, class: "btn btn-primary start-chat-btn" %>
  </div>
</div>
